<!DOCTYPE html>
<html lang="zh-Hant-TW">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ElementPlus - Element 基礎認識</title>
  <!-- Element Plus：https://element-plus.org/zh-CN/ -->
  <link rel="stylesheet" href="//unpkg.com/element-plus/dist/index.css" />
</head>
<body>
  <h1>ElementPlus - Element 表單</h1>

  <div id="app">
    <h2>表單</h2>

    <h3>輸入欄位</h3>
    <el-input v-model="message" placeholder="請輸入資料"></el-input>
    {{ message }}
    













    <hr>













    <h3>下拉選單</h3>
    <el-select v-model="selectText">
      <el-option value="1">火雞肉飯</el-option>
      <el-option value="2">肉燥飯</el-option>
      <el-option value="3">雞絲飯</el-option>
    </el-select>





  










    <hr>












  

    <h3>單選</h3>
    <el-radio-group v-model="radioText">
      <el-radio label="1">雞</el-radio>
      <el-radio label="2">豬</el-radio>
      <el-radio label="3">羊</el-radio>
    </el-radio-group>













    <hr>











    <h3>多選</h3>
    <el-checkbox-group v-model="checkAll">
      <el-checkbox label="1">雞</el-checkbox>
      <el-checkbox label="2">豬</el-checkbox>
      <el-checkbox label="3">羊</el-checkbox>
    </el-checkbox-group>















    <hr>











    <h3>完整表單</h3>
    <el-form @submit.prevent="submitForm">
      <el-form-item label="Email：">
        <el-input type="email" placeholder="請輸入 Email"></el-input>
      </el-form-item>
      <el-form-item label="Password：">
        <el-input type="password" placeholder="請輸入密碼"></el-input>
      </el-form-item>
      <el-form-item label="請選擇要吃的肉">
        <el-checkbox-group v-model="checkAll">
          <el-checkbox label="1">雞</el-checkbox>
          <el-checkbox label="2">豬</el-checkbox>
          <el-checkbox label="3">羊</el-checkbox>
        </el-checkbox-group>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" native-type="submit">送出表單</el-button>
        <el-button  native-type="reset">重設表單</el-button>
      </el-form-item>
    </el-form>







  </div>

  <script src="https://unpkg.com/vue@3"></script>
  <script src="//unpkg.com/element-plus"></script>
  <script>
    const app = Vue.createApp({
      data() {
        return {
          message: '',
          selectText: '',
          radioText: '',
          checkAll: [],
        }
      },
      methods: {
        submitForm() {
          console.log('submit！', this.form);
        }
      }
    })
    app.use(ElementPlus)
    app.mount('#app');
  </script>
</body>
</html>