<!DOCTYPE html>
<html lang="zh-Hant-TW">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vue 方法 - watch</title>
</head>
<body>
  <h1>Vue 方法 - watch</h1>

  <div id="app">
    <h3>Email 驗證</h3>
    <input type="text" v-model="users.email">
    <p v-if="status">Email 格式正確</p>
    <p v-else>Email 格式不正確</p>
  </div>
  <script src="https://unpkg.com/vue@3"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js" integrity="sha512-odNmoc1XJy5x1TMVMdC7EMs3IVdItLPlCeL5vSUPN2llYKMJ2eByTTAIiiuqLg+GdNr9hF6z81p27DArRFKT7A==" crossorigin="anonymous"></script>
  <script>
    const app = Vue.createApp({
      data() {
        return {
          users: {
            email: '',
          },
          status: false,
        }
      },
      watch: {
        'users.email': function (newValue, oldValue) {
          console.log('newValue:', newValue);
          this.status = /^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/.test(newValue);
        },
      },
    })
    app.mount('#app');
  </script>
</body>
</html>