<!DOCTYPE html>
<html lang="zh-Hant-TW">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vue 進階 - v-model 修飾符</title>
</head>
<body>
  <h1>Vue 進階 - v-model 修飾符</h1>

  <div id="app">
    <h2>.lazy</h2>
    <h3>沒有 .lazy</h3>
    <input type="text" v-model="text">
    <p>{{ text }}</p>





    <h3>有 .lazy</h3>
    <p>重點：使用者離開 input 欄位時才會更新</p>
    <input type="text" v-model.lazy="text">
    <p>{{ text }}</p>
















    <hr>










    <h3>沒有 .number</h3>
    <input type="text" v-model="num1">
    <p>文字：{{ num1 }}</p>
    <p>型別：{{ typeof num1 }}</p>


    <h3>有 .number</h3>
    <input type="text" v-model.number="num2">
    <p>文字：{{ num2 }}</p>
    <p>型別：{{ typeof num2 }}</p>
    










    <hr>






    建議搭配 Vue DevTools 才看得出來
    <h3>沒有 .trim</h3>
    <input type="text" v-model="text">


    <h3>有 .trim</h3>
    <input type="text" v-model.trim="text">
    



    <br><br><br><br><br>
  </div>

  <script src="https://unpkg.com/vue@3"></script>
  <script>
    const { createApp } = Vue;

    const app = createApp({
      data() {
        return {
          text: '',
          num1: 0,
          num2: 0,
        }
      },
    })
    app.mount('#app');
  </script>
</body>
</html>